<div class="row">
    <div class="col-lg-12">
        <p class="page-header">some links...</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <ul>
            <li>
                <a href="/stories">Story</a>
            </li>
            <li>
                <a href="/admins">Admin</a>
            </li>
            <li>
                <a href="/roles">Role</a>
            </li>
            <li>
                <a href="/permissions">Perminssion</a>
            </li>
        </ul>
    </div>
</div>