<div class="row">
    <div class="col-lg-12">
        <p class="page-header">nothing</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a href="/products">商品列表</a>
    </div>
</div>