.formTable{
    tbody{
        tr{
            td{
                //padding: 0;
                //padding-bottom: 0;
                //input{
                //    height: 100%;
                //    &:focus{
                //        outline: none;
                //    }
                //}
            }
            td:first-child{
                width: 10px;
                padding: 8px;
            }
        }
    }
}