<% content_for :head do%>
    <title>Product列表</title>
<% end%>
<!--datatables-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-ms-12">
        <div class="x_panel">
            <div class="x_title">
                <!--这张表(plural_table_name)的复数名称的标题化(内部单词首字母大写)-->
                Product列表
                <%= link_to '新建 Product', new_product_path,style:"float:right;color:white;margin-top: -2px;line-height:1;",class:'btn btn-sm btn-success' %>
            </div>
            <div class="x_content">
                <button id="productMutipleDeleteBtn" class="btn btn-danger btn-group-sm" style="margin-bottom: 10px;">删除已标记项目</button>
                <table width="100%" class="table table-striped table-bordered table-hover" id="productDataTables"></table>
                <DataTablesConfig
                id="productDataTablesConfig"
                description="这里保存着column的一些配置"
                data-base-url="<%=products_path%>"
                data-model="product"
                data-column-config='<%=@columnConfig%>'>
                </DataTablesConfig>
            </div>
        </div>
    </div>
</div>
<!--初始化dataTables-->
<script>
    $(document).ready(function () {
        $.MM_dataTable("product");
    });
</script>
<br>

